/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/jared-rice-NTyBbu66_SI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

/* input */
#newTask{
    background-color: white;
}

/* bouton ajouter*/
#addButton {
    background-color: peru;
    border-color:peru;
    color:white;
}

/* zone nouvelle tache*/
#newTaskZone{
background-color: rgba(255, 248, 219,0.5);
padding:2rem;
}

/*zone liste de taches*/
#tasksZone{
    background-color: rgba(8, 152, 177, 0.199);
    padding:2rem;
}

.taskTitle{
    color: white;
}

.taskTitle, .newTaskTitle {
    text-align: center;
}

#tasksZone, #newTaskZone {
    display: grid;
    justify-content: center;
    align-items: center;
}

/*liste de taches*/
#tasksList{
    background-color: rgba(255, 248, 219, 0.589);
}

/* bouton fait*/
.checkButton{
    background-color:white;
    border-color:rgb(114, 204, 114);
    color: black;
    margin-left: 30px;
    margin-top: 5px;
}

/* bouton modifier*/
.editButton{
    background-color:white;
    border-color:rgb(238, 238, 67);
    color: black;
    margin-left: 30px;
    margin-top: 5px;
}
/* bouton supprimer*/
.deleteButton{
    background-color: white;
    border-color: red;
    color: black;
    margin-left: 30px;
    margin-top: 5px;
}

.checkButton,
.editButton,
.deleteButton {
    border: none;
    padding: 0.2rem;

/* message d'erreur */
#error{
    color: white;
    background-color: red;
}